* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */
a {
  text-decoration: none;
  color: black;
}

.header_container {

  display: flex;


}

.logo_container {

  margin-top: 20px;
  width: 50%;
  /* background-color: grey; */
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav_container {

  /* background-color: brown; */
  width: 50%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav_container ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;


}