* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Header */
a {
  text-decoration: none;
  color: black;
}

.header_container {

  display: flex;


}

.logo_container {

  margin-top: 20px;
  width: 50%;
  /* background-color: grey; */
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav_container {

  /* background-color: brown; */
  width: 50%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav_container ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;


}


.main_container {

  background-color: black;


}

.main_container h3 {

  color: white;
  font-size: 30px;
  padding: 20px;

}

.pic_container {

  background-color: rgb(38, 151, 249);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logos_container {


  width: 13%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;

}

.logos_container p {

  color: white;
}